@model thewall9.data.binding.PageWeb
<div class="layer"></div>
<div id="home" class="wrapper">
    <div class="container">
        <a href="@Html.LinkHome()" class="logo center-block">
            <img src="@Url.Content("~/Content/images/logo-thewall9.png")" class="img-responsive" alt="thewall9">
        </a>
        <h1 class="text-center">
            @Html.FindValue(Model, "h1")
        </h1>
        <h2 class="text-center">
            <span class="rotate">
                @Html.FindValue(Model, "h2")
            </span>
        </h2>
        <p class="text-center btns">
            <a class="btn btn-lg btn-primary" href="@Html.FindValue(Model, "contact-btn-url")" id="contact-btn">
                @Html.FindValue(Model, "contact-btn-text")
            </a>
        </p>
    </div>
</div>
@section styles{
    @Styles.Render("~/Content/text-rotator")
}
@section scripts{
    @Scripts.Render("~/bundles/jquery-text-rotator")
    @Scripts.Render("~/bundles/vide")
    <script>
        $(document).ready(function () {
            $('.rotate').textrotator({
                animation: "dissolve", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
                separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
                speed: 7000 // How many milliseconds until the next word show.
            });
            $(document.body).vide("content/video/ocean");
        });
    </script>
}