@model thewall9.data.binding.PageWeb
@{
    Layout = "~/Views/Shared/_LayoutIntern.cshtml";
}
<section id="work">
    <div class="bg-white text-center">
        <h1>
            @Html.FindValue(Model, "title")
        </h1>
        <div class="container">
            <h4 class="text-muted">
                @Html.FindValue(Model, "subtitle")
            </h4>
        </div>
    </div>
    <div class="bg-white margin-top" id="work-list">
        <div class="container">
            <div class="row">
                @{int _Cont = 0;}
                @foreach (var item in Html.FindItems(Model, "list-works"))
                {
                    <div class="col-md-4">
                        <a href="@Html.FindValue(item, "work-link-url")" target="_blank" class="center-block img">
                            <img src="@Html.FindValue(item, "work-img")" class="img-responsive img-rounded" alt="@Html.FindValue(item, "work-name")" />
                        </a>
                        <h2 class="text-center">
                            @Html.FindValue(item, "work-name")
                        </h2>
                        <h3 class="text-center text-muted">
                            @Html.FindValue(item, "work-description")
                        </h3>
                        <p class="text-center">
                            <a href="@Html.FindValue(item, "work-link-url")" target="_blank">
                                <span class="glyphicon glyphicon-link"></span>
                                @Html.FindValue(item, "work-link-text")
                            </a>
                        </p>
                    </div>
                    if (_Cont % 3 == 2)
                    {
                        <div class="clearfix"></div>
                    }
                    _Cont++;
                }

            </div>
        </div>
    </div>
    <a href="@Html.FindValue(Model, "contact-btn-url")" class="btn btn-xl margin-top btn-primary btn-block">
        <span class="glyphicon glyphicon-envelope small"></span>
        @Html.FindValue(Model, "contact-btn-text")
    </a>
</section>
