@model thewall9.data.binding.PageWeb
@{
    var _Categories = Html.GetCategories();
    var _Products = Html.GetProducts();
}
<div class="row">
    <div class="col-md-3">
        <div class="subtitle">
            Categories
        </div>
        <ul class="list-unstyled">
            @foreach (var item in _Categories)
            {
                <li class="list-group-item">
                    @Html.Partial("_Categories", item)
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="subtitle">
            Products
        </div>
        @foreach (var item in _Products)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="@item.FriendlyUrl">
                        <img src="@item.IconPath" />
                    </a>
                    <div class="text-center">
                        <a href="@item.FriendlyUrl">
                            @item.ProductName
                        </a>
                        <div class="small">
                            @item.Description
                        </div>
                        <div>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-default">
                                    @item.MoneySymbol @item.Price
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-shopping-cart"></i> Buy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>