@{
    var _Menu = Html.GetMenu();
    var _LayoutContent = Html.GetSite().ContentLayout;
}
<a id="simple-menu" href="#sidr" class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-align-justify"></span>
    <span>@Html.FindValue(_LayoutContent, "menu")</span>
</a>
<div id="sidr" ng-cloak>
    <ul class="text-center">
        <li>
            <a href="#" onclick="$.sidr('close', 'sidr');return false;" class="text-right">&times;</a>
        </li>
        @foreach (var item in _Menu)
        {
            <li>
                <a href="@(item.RedirectUrl!=null ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                    @if (ViewBag.Theme == "light" && item.PageAlias.Equals("home"))
                    {
                        <img src="@Url.Content("~/Content/images/logo-thewall9-white.png")" />
                    }
                    else if (ViewBag.Theme == "dark" && item.PageAlias.Equals("home"))
                    {
                        <img src="@Url.Content("~/Content/images/logo-thewall9-black.png")" />
                    }
                    else
                    {
                        <div>
                            @item.Name
                        </div>
                    }
                </a>
            </li>
        }
    </ul>
    <div class="social text-center">
        <a href="@Html.FindValue(_LayoutContent,"fb-url")" target="_blank">
            <i class="fa fa-facebook-square fa-1x"></i>
        </a>
        <a href="@Html.FindValue(_LayoutContent,"tw-url")" target="_blank">
            <i class="fa fa-twitter-square fa-1x"></i>
        </a>
        <a href="@Html.FindValue(_LayoutContent,"gplus-url")" target="_blank">
            <i class="fa fa-google-plus-square fa-1x"></i>
        </a>
        <a href="@Html.FindValue(_LayoutContent,"blog-url")" target="_blank">
            <i class="fa fa-tumblr-square fa-1x"></i>
        </a>
    </div>
    <p class="text-center">@Html.FindValue(_LayoutContent, "copyright")</p>
    <p class="text-center">
        @foreach (var item in Html.GetLangs())
        {
            <a href="@Html.LinkUrl(item)">
                @Html.FindValue(_LayoutContent, item.Name)
            </a>
        }
    </p>
</div>
