@{
    var _LayoutContent = Html.GetSite().ContentLayout;
    var _Menu = Html.GetMenu();
    var _OtherPages = Html.GetSite().OtherPages;
}
<!DOCTYPE html>
<html lang="@Html.Lang()" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.MetatagDescription()
    <title>@Html.TitlePageText()</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="appController">
    <header class="container header">
        <div class="row">
            @*LOGO*@
            <div class="col-md-3">
                <a href="/@Html.LinkHome()">
                    <img src="@Html.FindValue(_LayoutContent, "logo")" class="img-responsive" alt="logo">
                </a>
            </div>
            @*SEARCH*@
            <div class="col-md-4 mtop">
                <input type="text" class="form-control form-search" placeholder="@Html.FindValue(_LayoutContent, "search-text")" />
            </div>
            @*CURRRENCIES*@
            <div class="col-md-2 mtop">
                <div class="btn-group btn-group-header">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="pull-left">
                            <i class="fa fa-money icon-header"></i>
                        </span>
                        <span class="pull-left">
                            {{currentCurrency.CurrencyName}}
                        </span>
                        <span class="pull-right">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu header-content" role="menu">
                        <li ng-repeat="item in currencies">
                            <a href="/change-currency?CurrencyID={{item.CurrencyID}}&Url=@Request.Url.AbsolutePath">
                                <b><i class="fa fa-money"></i> {{item.CurrencyName}}</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            @*CART*@
            <div class="col-md-3 mtop">
                <div class="btn-group btn-group-header">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="pull-left">
                            <i class="fa fa-shopping-cart icon-header"></i>
                        </span>
                        <span class="pull-left">@Html.FindValue(_LayoutContent, "shopping-cart"): {{cart.length}} @Html.FindValue(_LayoutContent, "items")</span>
                        <span class="pull-right">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu header-content" role="menu">
                        <li ng-repeat="item in cart">
                            <a href="detail.html">
                                <b>{{item.ProductName}}</b>
                                <span>x{{item.Number}} {{moneySymbol}} {{item.Price}}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/@Html.LinkCart()">@Html.FindValue(_LayoutContent, "total"): {{moneySymbol}} {{totalCart()}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @*NAVIGATION BAR*@
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">
                    @Html.FindValue(_LayoutContent, "project-name")
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{var cont = 0;}
                    @foreach (var item in _Menu)
                    {
                        <li ng-class="{'active':active=='page-@item.FriendlyUrl'}">
                            <a href="@(item.RedirectUrl!=null ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                                @item.Name
                            </a>
                        </li>
                        cont++;
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="body container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>@Html.FindValue(_LayoutContent, "other-pages")</h4>
                    <ul class="list-unstyled">
                        @{cont = 0;}
                        @foreach (var item in _OtherPages)
                        {
                            <li>
                                <a href="@(item.RedirectUrl!=null ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                                    @item.Name
                                </a>
                            </li>
                            cont++;
                        }
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>@Html.FindValue(_LayoutContent, "contact")</h4>
                    <ul class="list-unstyled">
                        <li>
                            Email: <a href="mailto:info@nazcaboutique.com">info@nazcaboutique.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>@Html.FindValue(_LayoutContent, "follow")</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="@Html.LinkFacebook()" target="_blank">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="@Html.LinkTwitter()" target="_blank">
                                <i class="fa fa-twitter-square"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="@Html.LinkInstagram()" target="_blank">
                                <i class="fa fa-instagram"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="@Html.LinkTumblr()" target="_blank">
                                <i class="fa fa-tumblr-square"></i> Tumblr
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var _ServiceBase = '@thewall9.web.parent.APP._API_URL';
        var _SiteID = @thewall9.web.parent.APP._SiteID;
        var _Active = '@ViewBag.Active';
        var _Currencies=@Html.Raw(Json.Encode(Html.GetSite().Currencies));
        var _CurrentCurrencyID=@Html.GetCurrentCurrencyID();
        var _MoneySymbol = @Html.Raw(Json.Encode(Html.GetSite().Currencies[0]));
        @{
            var _Messages=Html.Find(_LayoutContent, "messages");
        }
        var _Message={
            AddedCart:'@Html.FindValue(_Messages, "added-cart")'
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
    @Html.GAScript()
</body>
</html>
