@{
    var _LayoutContent = Html.GetSite().ContentLayout;
    var _Menu = Html.GetMenu();
}
<!DOCTYPE html>
<html lang="@Html.Lang()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.MetatagDescription()
    <title>@Html.TitlePageText()</title>
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="container header">
        <div class="row">
            @*LOGO*@
            <div class="col-md-3">
                <img src="@Html.FindValue(_LayoutContent, "logo")" class="img-responsive" alt="logo">
            </div>
            @*SEARCH*@
            <div class="col-md-6 mtop">
                <input type="text" class="form-control form-search" placeholder="@Html.FindValue(_LayoutContent, "search-text")" />
            </div>
            @*CART*@
            <div class="col-md-3 mtop">
                <div class="btn-group btn-group-cart">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="pull-left">
                            <i class="fa fa-shopping-cart icon-cart"></i>
                        </span>
                        <span class="pull-left">Shopping Cart: 2 item(s)</span>
                        <span class="pull-right">
                            <i class="fa fa-caret-down"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu cart-content" role="menu">
                        <li>
                            <a href="detail.html">
                                <b>Penn State College T-Shirt</b>
                                <span>x1 $528.96</span>
                            </a>
                        </li>
                        <li>
                            <a href="detail.html">
                                <b>Live Nation ACDC Gray T-Shirt</b>
                                <span>x1 $428.96</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="cart.html">Total: $957.92</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    @*NAVIGATION BAR*@
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">@Html.FindValue(_LayoutContent, "project-name")</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="@Html.LinkHome()">
                            @Html.FindValue(_LayoutContent, "home-text")
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @Html.FindValue(_LayoutContent, "catalogue-text")
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @Html.FindValue(_LayoutContent, "shooping-cart-text")
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @Html.FindValue(_LayoutContent, "checkout-text")
                        </a>
                    </li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Pages <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in _Menu)
                                {
                                    <li>
                                        <a href="@(item.RedirectUrl!=null ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @foreach (var item in _Menu)
                    {
                        <li>
                            <a href="@(item.RedirectUrl!=null ? item.RedirectUrl : '/' + item.FriendlyUrl)">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div class="body container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
    @Html.GAScript()
</body>
</html>
